@using System.ComponentModel.DataAnnotations;
@model dynamic

@{
  var id = @Model.GetType().GetProperty("_id").GetValue(Model);
  var collection = Context.Request.Path.Value.Split("/")[2];
}


<section>
  <form id="edit" action="/dashboard/@collection/@id/save" method="post" class="grid">
    @foreach (var field in Model.GetType().GetProperties())
    {
      if (field.Name == "_id")
      {
        <input asp-for="@field" name="@field.Name" value="@id" hidden aria-hidden="true" />
        continue;
      }
      <div class="flex flex-col">
        <label for="@field.Name">@field.Name</label>
        @if (field.PropertyType.IsEnum)
        {
          @Html.DropDownList(field.Name, new SelectList(Enum.GetValues(field.PropertyType)),
                 "Select " + field.Name, new { @class = "bg-primary border-2 border-primary-700" })
        }
        else
        {
          <input asp-for="@field" name="@field.Name" value="@field.GetValue(Model)" id="@field.Name"
            class="bg-transparent border-2 border-primary-700" />
        }
        <span data-valmsg-for="@field.Name" data-valmsg-replace="true" class="text-red-500 field-validation-valid"></span>
      </div>
    }
    <button type="submit">Save</button>
    <button type="submit">Remove (todo)</button>
    <span id="general-error" class="text-red-500"></span>
  </form>
</section>

@section Scripts {
<script src="~/js/savechanges.js" defer></script>
}
